
body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #778697 !important;
}


.centrar-vertical
{
    min-height: 100%; 
    min-height: 100vh;
  
    display: flex;
    align-items: center;
}